:root {
    --primary-color: #2563eb;
    --primary-hover: #1d4ed8;

    --text-dark: #0f172a;
    --text-light: #94a3b8;

    --background-main: #f8fafc;
    --white: #ffffff;

    --border-light: #e2e8f0;
}

/* Layout */
.dashboard {
    display: flex;
    background: var(--background-main);
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: var(--white);
    padding: 25px 20px;
    border-right: 1px solid var(--border-light);
    display: flex;
    flex-direction: column;
}

/* Logo */
.logo {
    color: var(--primary-color);
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Nav */
.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-bottom: 8px;
}

.nav-links a {
    display: block;
    padding: 12px 14px;
    border-radius: 8px;
    color: var(--text-dark);
    text-decoration: none;
    transition: all 0.25s ease;
    position: relative;
}

/* Hover */
.nav-links a:hover {
    background: rgba(37, 99, 235, 0.08);
    color: var(--primary-color);
}

/* Active */
.nav-links a.active {
    background: var(--primary-color);
    color: var(--white);
    box-shadow: 0 8px 15px rgba(37, 99, 235, 0.25);
}


/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
.main{
    width: 100%;
}