:root {
    --primary-color: #2563eb;
    --primary-hover: #1d4ed8;

    --secondary-color: #64748b;
    --text-dark: #0f172a;
    --text-light: #94a3b8;

    --background-main: #f8fafc;
    --background-secondary:#e8f0fae7;
    --white: #ffffff;

    --border-light: #e2e8f0;

    --price-bg: #e0f2fe;
    --price-text: #0369a1;
}

.stats {
    padding: 50px 0;
    background: var(--background-secondary);
}

/* STAT CARDS */
.stat-card {
    background: var(--white);
    padding: 25px;
    border-radius: 14px;
    border: 1px solid var(--border-light);
    text-align: center;
    transition: 0.3s;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.stat-card i {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.stat-card h5 {
    color: var(--text-dark);
    margin-bottom: 5px;
}

.stat-card p {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

/* TABLE BOX */
.table-box {
    background: var(--white);
    padding: 20px;
    border-radius: 14px;
    border: 1px solid var(--border-light);
}

/* TABLE */
.custom-table thead {
    background: var(--background-secondary);
}

.custom-table th {
    font-size: 13px;
    color: var(--text-dark);
}

.custom-table td {
    font-size: 13px;
    color: var(--text-light);
}

/* BADGES */
.badge-success {
    background: #dcfce7;
    color: #166534;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.badge-pending {
    background: #fef3c7;
    color: #92400e;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .stat-card {
        text-align: left;
    }
}