{% extends "base.html" %}
{% load static %}

{% block title %}
| Dashboard
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dash.css' %}">
{% block procss %}

{% endblock procss %}
{% endblock css %}


{% block content %}
<div class="dashboard">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h3 class="logo">Dashboard</h3>

        <ul class="nav-links">
            <li><a href="{% url 'profile' %}" class="{% if request.path == '/account/profile/' %}
              active
            {% endif %}">Profile</a></li>
            <li><a href="{% url 'profile_update' %}" class="{% if request.path == '/account/profile_update/' %}
              active
            {% endif %}">Update Profile</a></li>
            {% if request.user.profile.account_type == 'renter' %}
              <li><a href="{% url 'history' %}" class="{% if request.path == '/account/history/' %}
              active
            {% endif %}">Rental History</a></li>
            <li><a href="{% url 'notification' %}" class="{% if request.path == '/account/notification/' %}
              active
            {% endif %}">Notification</a></li>
            {% endif %}
            {% if request.user.profile.account_type == 'host' %}
              <li><a href="{% url 'mylisting' %}" class="{% if request.path == '/account/mylisting/' %}
              active
            {% endif %}">My listings</a></li>
            <li><a href="{% url 'myearning' %}" class="{% if request.path == '/account/myearning/' %}
              active
            {% endif %}">My Earnings</a></li>
            {% endif %}
            
        </ul>
    </aside>

    <!-- Main -->
    <div class="main">
        {% block profile %}

        {% endblock profile %}
    </div>
</div>
{% endblock content %}