{% extends "dashboard.html" %}
{% load static %}

{% block procss %}
<link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock procss %}

{% block profile %}
<section class="history-section">
    <div class="container">

        <h2 class="page-title">Booking History</h2>

        <div class="table-card">
            <div class="table-responsive">

                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Image</th>
                            <th>Vehicle</th>
                            <th>Booked For(days)</th>
                            <th>Booked on</th>
                            <th>Booked till</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if data.exists %}
                        {% for order in data %}

                        {% for item in order.item.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>

                            <td>
                                <img src="{{ item.product.image.url }}" class="car-img">
                            </td>

                            <td>
                                {{ item.product.brand }} {{ item.product.model }}
                            </td>

                            <td>
                                {{ item.quantity }}
                            </td>
                            <td>
                                {{ item.created_at }}
                            </td>
                            <td>
                                {{ item.booked_till }}
                            </td>
                        </tr>
                        {% endfor %}

                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4">No bookings found</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</section>
{% endblock profile %}