:root {
    --primary-color: #2563eb;
    --primary-hover: #1d4ed8;

    --secondary-color: #64748b;
    --text-dark: #0f172a;
    --text-light: #94a3b8;

    --background-main: #f8fafc;
    --background-secondary:#e8f0fae7;
    --white: #ffffff;

    --border-light: #e2e8f0;

    --price-bg: #e0f2fe;
    --price-text: #0369a1;
}


/* ROOT COLORS USED */

body {
    background: var(--background-main);
}

/* ================= HERO ================= */

.lending-section {
    padding: 80px 0;
    background: linear-gradient(135deg, var(--background-main));
}

.section-subtitle {
    color: var(--primary-color);
    font-weight: 600;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-dark);
    margin: 10px 0;
}

.section-text {
    color: var(--text-light);
    margin-bottom: 20px;
}

.hero-img {
    max-width: 100%;
    border-radius: 20px;
}

/* ================= STEPS ================= */

.steps-section {
    background-color: var(--background-secondary);
    padding: 70px 0;
}

.step-card {
    background: var(--background-main);
    padding: 25px;
    border-radius: 16px;
    border: 1px solid var(--border-light);
    transition: 0.3s;
}

.step-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.step-number {
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 10px;
}

/* ================= SECURITY ================= */

.security-section {
    padding: 70px 0;
    background: var(--background-main);
}

.security-card {
    background: var(--background-secondary);
    padding: 20px;
    border-radius: 14px;
    border: 1px solid var(--border-light);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.security-card i {
    font-size: 20px;
    color: var(--primary-color);
}

.security-card h6 {
    margin: 0;
    font-weight: 600;
}

.security-card p {
    color: var(--text-light);
    font-size: 14px;
}

/* ================= CTA ================= */

.cta-section {
    background-color: var(--background-secondary);
    padding: 80px 0;
}

.cta-title {
    font-size: 30px;
    font-weight: 700;
}

.cta-text {
    color: var(--text-light);
    margin-bottom: 20px;
}

/* ================= BUTTON ================= */

.btn-primary {
    background: var(--primary-color);
    border: none;
}

.btn-primary:hover {
    background: var(--primary-hover);
}