:root {
    --primary-color: #2563eb;
    --primary-hover: #1d4ed8;

    --secondary-color: #64748b;
    --text-dark: #0f172a;
    --text-light: #94a3b8;

    --background-main: #f8fafc;
    --white: #ffffff;

    --border-light: #e2e8f0;
}

.review-section {
    padding: 50px 0;
    background: var(--background-main);
}

/* HEADER */
.review-header h2 {
    color: var(--text-dark);
}

.review-header p {
    color: var(--text-light);
}

/* BOX */
.info-box {
    background: var(--white);
    padding: 25px;
    border-radius: 14px;
    border: 1px solid var(--border-light);
    box-shadow: 0 5px 20px rgba(0,0,0,0.04);
}

/* REVIEW CARD */
/* SMALL REVIEW CARD */
.review-card {
    padding: 10px 12px;
    border-bottom: 1px solid var(--border-light);
}

/* USER */
.review-user {
    gap: 8px;
}

.review-user img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

/* NAME */
.review-user h5 {
    font-size: 14px;
    margin: 0;
}

.review-user small {
    font-size: 11px;
}

/* STARS */
.review-stars i {
    color: #facc15;
    font-size: 12px;
}

/* TEXT */
.review-text {
    font-size: 12px;
    margin: 5px 0;
}
/* FORM BOX */
.form-box textarea {
    width: 100%;
    border: 1px solid var(--border-light);
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
}

/* STAR INPUT */
.stars {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.star {
    font-size: 22px;
    color: #ccc;
    cursor: pointer;
    transition: 0.2s;
}

.star.selected {
    color: #facc15;
}

/* BUTTON */
.submit-btn {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
}

.submit-btn:hover {
    background: var(--primary-hover);
}